@model TaskTracker.PL.Models.UserTaskModel

@{
    ViewData["Title"] = "EditTask";
}

<h1>Edit task @Model.Title</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form id="editTaskForm" asp-action="EditTask">
            <div class="form-group">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="DeadLine" class="control-label"></label>
                <input asp-for="DeadLine" class="form-control" />
            </div>
            <div id="errorMessage" class="text-danger" style="display:none;">Please fill in all required fields</div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<script>
    document.getElementById('editTaskForm').addEventListener('submit', function (event) {
        var title = document.getElementById('Title').value;
        var description = document.getElementById('Description').value;
        var deadline = document.getElementById('DeadLine').value;

        if (!title || !description || !deadline) {
            event.preventDefault();
            document.getElementById('errorMessage').style.display = 'block';
        }
    });
</script>

<div>
    <a asp-action="GetUsersTask" asp-controller="Home">Cancel</a>
</div>

