@model TaskTracker.PL.Models.AccountModel

@{
    ViewData["Title"] = "EditAccount";
}

<h1>Edit private data</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form id="editAccountForm" asp-action="EditAccount">
            <div class="form-group">
                <label asp-for="Login" class="control-label"></label>
                <input asp-for="Login" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="Password" class="control-label"></label>
                <input asp-for="Password" class="form-control" />
            </div>
            <div id="errorMessage" class="text-danger" style="display:none;">Please fill in all required fields</div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<script>
    document.getElementById('editAccountForm').addEventListener('submit', function (event) {
        var login = document.getElementById('Login').value;
        var password = document.getElementById('Password').value;

        if (!login || !password) {
            event.preventDefault();
            document.getElementById('errorMessage').style.display = 'block';
        }
    });
</script>

<div>
    <a asp-action="GetUserAccount" asp-controller="Home">Cancel</a>
</div>

